
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    form {
        @include center;
        fieldset {
            @include center;
            width: 70%;
            max-width: 600px;
            min-width: 300px;
            border-radius: 15px;
            font-size: 1.1rem;
            padding: 1.5em;
            .field {
                @include center;
                list-style: none;
                flex-direction: column;
                
                textarea {
                    resize: none;
                }
                li {
                    display: flex;
                    flex-wrap: wrap;
                    width: 50%;
                }
                label {
                    display: inline-block;
                    width: 100%;
                    min-width: 100px;
                }
                li + li {
                    margin-top: clamp(10px, 5%, 15px);
                }
                input, textarea{
                    width: 100%;
                    min-width: 150px;
                    padding: clamp(0.2em, 2%, 0.5em);
                }
            }
        }
    }
}