$background: #edf6f9;
$header: #88ddffe6;

body {
    background: $background;
    .header, .footer {
        background: $header;
    }
    .header {
        display: flex;
        align-items: center;
        .headerText {
            color: #6c757d;
            font-size: 1.3rem;
        }
    }

    .footer {
        a {
            text-decoration: none;
            color: black;
            font-size: 1.1rem;
        }
    }
}