.previewContainer {
    .CV {
        .cvMain {
        }
        .cvHeader {
            background: #a8dadc;
            .writtenHeader {
                .cvName {
                    font-size: 1.3rem;
                    font-weight: bolder;
                }
            }
        }
    }
}