$secondary: rgba(102, 162, 199, 0.9);
$background: #edf6f9;

.previewContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    .CV {
        width: clamp(300px, 70%, 600px);
        aspect-ratio: 620/877;
        display: grid;
        grid-template-rows: 150px 1fr;
        .cvMain {
            padding: 4em 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .secondarySection {
                margin-left: 5%;
            }
        }

        .cvHeader {
            padding: 1em;
            display: flex;
            justify-content: space-around;
            .writtenHeader {
                width: 70%;
                display: flex;
                justify-content:center;
                align-items:center;
                flex-direction: column;
            }
            .iconHeader img {
                margin-top: 50%;
            }
        }
        .iconHeader img {
            min-width: 60px;
        }
    }
    .printCV {
        margin-left: 50%;
        min-width: 100px;
        align-self: flex-end;
        border: 2px solid $secondary;
        box-shadow: 2px 2px 2px 2px $secondary;
        color:$secondary;
        padding: 0.5em;
        font-size: 1.1rem;
        transition: all 0.3s;
        position: sticky;
        bottom: 0;
        right: 20%;
        cursor: pointer;
        &:hover {
            color: $background;
            background: $secondary;
            box-shadow: none;
            transition: all 0.5s;
        }
    }
}

@page { size: A4;  margin: 0; }
@media print {
    body * {
        visibility: hidden;
    }
    .CV, .CV * {
        visibility: visible;
    }
    .CV {        
        grid-template-rows:  150px 1fr;
        width: 210mm !important;
        height: 296mm !important;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem !important;
        .minorWriting {
            font-size: 0.8rem !important;
        }
        .cvName {
            font-size: 1.2rem !important;
        }
        .sectionText {
            font-size: 1.3rem !important;
        }
    }
}